<div class="register">
  <h2>Update form</h2>
  <div mat-dialog-close><i class="fa-solid fa-circle-xmark"></i></div>
</div>


<div mat-dialog-content>
  <form [formGroup]="validForm" (ngSubmit)="updatesubForm()">
    <div class="formdata">
      <!-- <div class="img">
        <input type="image" src="https://cdn3.iconfinder.com/data/icons/business-vol-26/100/Artboard_2-1024.png" alt="">
      </div> -->

  

      <div class="inputdata">
        <div class="xyz">

          <div style="display: flex; flex-direction: column;">
            <mat-form-field appearance="outline" class="ab">
              <input formControlName="name" #names matInput placeholder="First Name*">
            </mat-form-field>
            <span *ngIf="name && name.invalid" class="require">*This field is require</span>
          </div>

          <div>
            <mat-form-field appearance="outline" class="ab">
              <input formControlName="lastname" matInput placeholder="Last Name*">
            </mat-form-field>
            <span *ngIf="lastname && lastname.invalid" class="require">*This field is require</span>

          </div>

        </div>

        <mat-form-field appearance="outline">
          <input matInput formControlName="email" placeholder="Email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput formControlName="mobile" placeholder="(541)754-3010" type="number">
        </mat-form-field>

        <div class="slide">
          <label for="" style="margin-right: 10px;">Age:</label>
          <mat-slider min="20" max="60" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input formControlName="age" matSliderThumb>
          </mat-slider>
        </div>

        <mat-form-field appearance="outline">
          <mat-select formControlName="state" placeholder="State">
            <mat-option value="maharashtra">Maharashtra</mat-option>
            <mat-option value="Gujrat">Gujrat</mat-option>
            <mat-option value="Madhya pradesh">Madhya pradesh</mat-option>
            <mat-option value="Karnataka">Karnataka</mat-option>
            <mat-option value="Keral">Keral</mat-option>
            <mat-option value="Panjab">Panjab</mat-option>
            <mat-option value="Rajasthan">Rajasthan</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select formControlName="country" placeholder="Country">
            <mat-option value="India">India</mat-option>
            <mat-option value="England">England</mat-option>
            <mat-option value="USA">USA</mat-option>
            <mat-option value="Canada">Canada</mat-option>
            <mat-option value="New Zealand">New Zealand</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select formControlName="address" placeholder="Address">
            <mat-option value="">
              <mat-select placeholder="Home">
                <mat-option value="Address1">Address1</mat-option>
                <mat-option value="Address2">Address2</mat-option>
              </mat-select>
            </mat-option>
            <mat-option value="">
              <mat-select placeholder="Company">
                <mat-option value="Company Address1">Company Address1</mat-option>
                <mat-option value="Company Address2">Company Address2</mat-option>
              </mat-select>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input formControlName="tags" matInput placeholder="tags" type="text" #int (blur)="intrest(int.value)">
        </mat-form-field>

        <div style="display: flex; width: 22vw; flex-wrap: wrap;">
          <div *ngFor="let d of feildintrest" class="span">
            <span>{{d.data}}</span>

            <span (click)="cross(d.id)"><i class="fa-solid fa-xmark"></i></span>
          </div>
        </div>

        <div style="margin-right: 150px;">
          <input type="checkbox" id="sub" formControlName="checked">
          <label for="sub">Subscribe to newsletter</label>
        </div>

      </div>
    </div>


    <div mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button [disabled]="validForm.invalid" style="background-color:#1577ff; color: white;"
      (click)="updatePage(names.value)" >Update</button>
    </div>
  </form>
</div>

