<div class="home">
  <div class="nav">
    <h2>DEMO APP</h2>
    <ul>
      <li><a>HOME</a></li>
      <li><a>ABOUT US</a></li>
      <li><a>JOBS</a></li>
      <li><a>CLIENTS</a></li>
      <li><a>EMPLOYERS</a></li>
      <li><a>CONTACT US</a></li>
    </ul>
  </div>
  <div class="home-content">
    <div>
      <h1><em>I'm looking for..</em></h1>
      <input type="text" placeholder="Enter a job Description" class="job">
      <button><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      <div style="width: 100%;" class="subsection">
        <div>
          <input type="checkbox" id="input1">
          <label for="input1"><em>Full Time</em></label>

          <input type="checkbox" id="input2">
          <label for="input2"> <em>Part Time/Casual/Freelance</em></label>
        </div>
        <div>
          <select name="" id="loaction">
            <option value="v">Select your location</option>
            <option value="s">Mumbai</option>
            <option value="m">Kalyan</option>
            <option value="a">Thane</option>
            <option value="a">Nasik</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center; padding: 80px;"><button (click)="openDialog()">Register</button></div>

</div>


<div class="section2">
<h3><em>We're leaders in</em></h3>
<h1>Creative Digital Recruitment</h1>
<hr>
<p>Based in Surry Hills, the creative hub of sydney we are surrounded by creativity and that reflects on the type of jobs we recruit for. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

<span>FIND OUT MORE ABOUT US!</span>
</div>


<div class="section3">
<p>Subscribe to our job Seeker Mailing List</p>
<input type="text" placeholder="Enter Your Email Address" id="email"><i class="fa-solid fa-envelope"></i>
</div>




<router-outlet></router-outlet>
